<div mat-dialog-title>
    <h1>Location Form</h1>
  </div>
  <form [formGroup]="formsService.locationForm">
    <div mat-dialog-content class="content">
  
      <div class="row">

        <mat-form-field appearance="outline">
          <mat-select formControlName="countryid" placeholder="Country*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="stateid" placeholder="State*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select formControlName="cityid" placeholder="City*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input formControlName="Locationname" matInput placeholder="Location name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-select formControlName="IsActive" placeholder="IsActive*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
  
      </div>
    </div>
  
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="formsService.cityForm.invalid ? true : false"
        (click)="onSaveClick()">SAVE
      </button>
      <!-- {{formsService.cityForm.controls['updateValue'].value}} -->
      <!-- (click)="[false].includes(formsService.cityForm.controls['updateValue'].value) ? onSaveClick() : onUpdateClick()" -->
    </div>
  </form>