<div mat-dialog-title>
    <h1>Disease Form</h1>
  </div>
    <form [formGroup]="formsService.diseaseForm" (submit)="['Submit'].includes(formsService.diseaseForm.controls['updateButton'].value) ? 
onSubmitClick() : onUpdateClick(formsService.diseaseForm.controls['DiseaseId'].value)">
    <div mat-dialog-content class="content">
  
      <div class="row">
 
        <mat-form-field appearance="outline">
          <mat-select formControlName="SpecializationID" placeholder="Specialization*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of specializationData" [value]="item.SpecializationID">{{item.SpecializationName}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input formControlName="Diseasedescription" matInput placeholder="Disease*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-select formControlName="IsActive" placeholder="IsActive*">
            <mat-option value="default">Select</mat-option>
            <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
  
      </div>
    </div>
  
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="formsService.cityForm.invalid ? true : false">
        {{formsService.diseaseForm.controls['updateButton'].value}}
      </button>
    </div>
  </form>