<div mat-dialog-title>
  <h1>Hospital Form</h1>
</div>
<form [formGroup]="formsService.hospitalForm">
  <div mat-dialog-content class="content">

    <div class="row">

      <mat-form-field appearance="outline">
        <input formControlName="HospitalName" matInput placeholder="HospitalName*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select formControlName="CountryId" placeholder="CountryId*">
          <mat-option value="default">Select</mat-option>
          <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select formControlName="StateId" placeholder="StateId*">
          <mat-option value="default">Select</mat-option>
          <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select formControlName="CityId" placeholder="CityId*">
          <mat-option value="default">Select</mat-option>
          <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select formControlName="LocationId" placeholder="LocationId*">
          <mat-option value="default">Select</mat-option>
          <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <!--  -->
      <mat-form-field appearance="outline">
        <input formControlName="Pincode" matInput placeholder="Pincode*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="Address1" matInput placeholder="Address1*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="Address2" matInput placeholder="Address2*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="Address3" matInput placeholder="Address3*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="Address4" matInput placeholder="Address4*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="PhoneNumber" matInput placeholder="PhoneNumber*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input formControlName="LandlineNumber" matInput placeholder="LandlineNumber*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <!--  -->
      <mat-form-field appearance="outline">
        <mat-select formControlName="IsActive" placeholder="IsActive*">
          <mat-option value="default">Select</mat-option>
          <mat-option *ngFor="let item of IsActiveList" [value]="item.id">{{item.value}}</mat-option>
        </mat-select>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="formsService.cityForm.invalid ? true : false"
      (click)="onSaveClick()">SAVE
    </button>
    <!-- {{formsService.cityForm.controls['updateValue'].value}} -->
    <!-- (click)="[false].includes(formsService.cityForm.controls['updateValue'].value) ? onSaveClick() : onUpdateClick()" -->
  </div>
</form>